<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="sgenfebd4.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <connectionStrings>
    <add name="sgenfebd4.My.MySettings.SGEDic_Demo_131108ConnectionString"
      connectionString="Data Source=192.168.0.77;Initial Catalog=SGEDic_Demo_131108;Integrated Security=False;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDados_Demo_131108ConnectionString"
      connectionString="Data Source=192.168.0.77;Initial Catalog=SGEDados_Demo_131108;Integrated Security=False;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDados_Demo_131108ConnectionString1"
      connectionString="Dsn=SGEDados_Demo_131108;uid=administrador;trusted_connection=Yes;app=Microsoft® Visual Studio® 2008;wsid=BAHIA-PC;database=SGEDados_Demo_131108"
      providerName="System.Data.Odbc" />
    <add name="sgenfebd4.My.MySettings.SGEDados_DemoConnectionString"
      connectionString="Data Source=ASP30;Initial Catalog=SGEDados_Demo;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDados_Demo130809ConnectionString"
      connectionString="Data Source=ASP30;Initial Catalog=SGEDados_Demo130809;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDados_DemoConnectionString1"
      connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDados_DemoConnectionString2"
      connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;Persist Security Info=True;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDados_DemoConnectionString3"
      connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDados_DemoConnectionString4"
      connectionString="Data Source=ASP30;Initial Catalog=SGEDados_Demo;Persist Security Info=True;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDados_DemoConnectionString5"
      connectionString="Data Source=ASP22;Initial Catalog=SGEDados_Demo;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDic_DemoConnectionString"
      connectionString="Data Source=ASP22;Initial Catalog=SGEDic_Demo;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDic_LojaConnectionString"
      connectionString="Data Source=JONES-STI\SQLEXPRESS;Initial Catalog=SGEDic_Loja;Persist Security Info=True;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDados_LojaConnectionString"
      connectionString="Data Source=JONES-STI\SQLEXPRESS;Initial Catalog=SGEDados_Loja;Persist Security Info=True;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDados1_Padrao_OficialConnectionString"
      connectionString="Data Source=asp22;Initial Catalog=SGEDados1_Padrao_Oficial;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
    <add name="sgenfebd4.My.MySettings.SGEDados1_Padrao_OficialConnectionString1"
      connectionString="Data Source=ASP22;Initial Catalog=SGEDados1_Padrao_Oficial;User ID=sa;Password=SAPWD"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <applicationSettings>
    <sgenfebd4.My.MySettings>
      <setting name="sgenfebd4_cadconsultacadastro2_CadConsultaCadastro4"
        serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/cadconsultacadastro4.asmx</value>
      </setting>
      <setting name="sgenfebd4_nfeconsulta2_NFeConsultaProtocolo4"
        serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeconsultaprotocolo4.asmx</value>
      </setting>
      <setting name="sgenfebd4_nfeinutilizacao2_NFeInutilizacao4" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeinutilizacao4.asmx</value>
      </setting>
      <setting name="sgenfebd4_nferetautorizacao_NFeRetAutorizacao4"
        serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nferetautorizacao4.asmx</value>
      </setting>
      <setting name="sgenfebd4_nfestatusservico2_NFeStatusServico4"
        serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfestatusservico4.asmx</value>
      </setting>
      <setting name="sgenfebd4_recepcaoevento_NFeRecepcaoEvento4" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nferecepcaoevento4.asmx</value>
      </setting>
      <setting name="sgenfebd4_nfeautorizacao_NFeAutorizacao4" serializeAs="String">
        <value>https://homologacao.nfe.fazenda.sp.gov.br/ws/nfeautorizacao4.asmx</value>
      </setting>
    </sgenfebd4.My.MySettings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
